{% extends "base.html" %}
{% block title %} Flying on Wheel | Welcome {% endblock %}
{% block flyer_info %}
<div style="float:left;width:35%;" align="center">
    <br/>
    <br/>
    <br/>
    <img src="/static/main.png" alt="register" title="register"></img>
</div>
<div style="float:left;width:50%" align="left">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    Welcome To Flyingonwheel~
    <br/>
    <br/>
    You will have a good travel here, believe me, thanks~
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <img src="/static/demon.png" alt="register" title="register"></img>
</div>
{% endblock %}
