{% extends "base.html" %}
{% block title %} Flying on Wheel | Error {% endblock %}
{% block flyer_info %}
<div style="float:left;width:40%;" align="center">
    <br/>
    <br/>
    <br/>
    <br/>
    <img src="/static/404-img.png" alt="{{ flyer_error }}" title="{{ flyer_error }}" align="bottom"></img>
</div>
<div style="float:left;width:50%" align="left">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    Sorry, Error found here:
    <br/>
    <br/>
    {{ flyer_error }}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <a href="/"> Return To Main Page </a>
</div>
{% endblock %}
